@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.control {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.material-icons {
    cursor: pointer;
    font-size: 48px;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f5f5f5;
}

.card h2,
.card p {
    text-align: center;
    margin-bottom: 5px;
}
.card img {
    width: 40%;
    margin: 0 auto;
}
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lists {
    display: flex;
    flex-wrap: wrap;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    background-color: #f5f5f5;
}

.list img {
    width: 10%;
    order: 0;
}

.list h2,
.list p {
    order: 1;
}

.list span {
    order: 3;
}

.list button {
    order: 4;
}

button {
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px 20px;
}

span, button {
    color: red;
}
